body {
    margin: 0px;
    padding: 0px;
    line-height: 0px
}

.world {
    background-color: rgb(118, 216, 223);
}

.row {
    width: 930px;
    opacity: 0.1;
}

.land {
    display: inline-block;
    background-color: rgb(138, 88, 14);
    height: 30px;
    width: 30px;
    opacity: 0.9;
}

.pokemon {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    position: absolute;
}

.board {
    display: inline-block;
    opacity: 0.1;
    height: 30px;
    width: 30px;
}